<!DOCTYPE html>
<html>
<head>
    <title>Employees</title>
</head>
<body>

<h1>Employees</h1>
{% if employees %}
<table border="1">

    <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Team</th>
        <th>Manager</th>
        <th>Salary</th>
        <th>Employment Type</th>    
        <th>Start Date</th>
        <th>Status</th>
    </tr>

    {% for employee in employees %}

    <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.role }}</td>
        <td>{{ employee.team }}</td>
        <td>
            {% if employee.manager %}
                {{ employee.manager.name }}
            {% else %}
                No Manager
            {% endif %}
        </td>
        <td>{{ employee.salary }}</td>
        <td>{{ employee.employment_type }}</td>
        <td>{{ employee.start_date }}</td>  
        <td>
            {%if employee.is_active%}:
            
                Active
            {%else%}
                Inactive
            {%endif%}

        </td>

    </tr>

    {% endfor %}

</table>

{% else %}
<p>No employees found.</p>

{% endif %} 

</body>
</html>