<!DOCTYPE html>
<html>
<head>
    <title>Add Employee</title>
</head>
<body>

<h1>Add Employee</h1>

<form method="POST">

    <label>Name</label><br>
    <input type="text" name="name"><br><br>

    <label>Role</label><br>
    <input type="text" name="role"><br><br>

    <label>Team</label><br>
    <input type="text" name="team"><br><br>

    <label>Salary</label><br>
    <input type="number" name="salary"><br><br>

    <label>Employment Type</label><br>
    <input type="text" name="employment_type"><br><br>

    <label>Start Date</label><br>
    <input type="date" name="start_date"><br><br>

    <button type="submit">Save Employee</button>

</form>

</body>
</html>